{% extends 'HWIOAuthBundle::layout.html.twig' %}

{% block hwi_oauth_content %}
    Sorry, but it looks like the address {{ email }} has already been registered.
    <br><br>
    Please <a href="{{  path('hwi_oauth_connect') }}">login</a> to your account first to connect your social profile.
{% endblock %}
