{% extends 'HWIOAuthBundle::layout.html.twig' %}

{% block hwi_oauth_content %}

    <p>Account {{userInformation.realName}} has been connected.</p>
    <p><a href="{{ path('main_homepage') }}">Click here to continue...</a></p>

{% endblock hwi_oauth_content %}
