{% extends 'HWIOAuthBundle::layout.html.twig' %}

{% block hwi_oauth_content %}
    {# <h3>{{ 'header.registration_success' | trans({'%username%': app.user.username}, 'HWIOAuthBundle') }}</h3> #}
    
    <p>Account {{app.user.username}} has been registered.</p>
    <p><a href="{{ path('main_homepage') }}">Click here to continue...</a></p>
    
{% endblock hwi_oauth_content %}
