{% extends 'HWIOAuthBundle::layout.html.twig' %}
{% set title = 'Confirm registration' %}
{% block hwi_oauth_content %}

    <form action="{{ path('hwi_oauth_connect_registration', {'key': key}) }}" {{ form_enctype(form) }} method="POST" class="hwi_oauth_registration_register">
        {{ form_errors(form) }}
        {# form_widget(form) #}
        
        {{userInformation.response.name}} &lt;{{userInformation.response.email}}&gt;
        {% set randomPassword = random() %} 
        <br><br>
        <input type="hidden" id="fos_user_registration_form_email" name="fos_user_registration_form[email]" value="{{userInformation.response.email}}">    
        <input type="hidden" id="fos_user_registration_form_full_name" name="fos_user_registration_form[full_name]" value="{{userInformation.response.name}}">    
        <input type="hidden" id="fos_user_registration_form_plainPassword_first" name="fos_user_registration_form[plainPassword][first]" value="{{randomPassword}}">
        <input type="hidden" id="fos_user_registration_form_plainPassword_second" name="fos_user_registration_form[plainPassword][second]" value="{{randomPassword}}">
        <input type="hidden" id="fos_user_registration_form_picture_url" name="fos_user_registration_form[picture_url]" value="{{userInformation.profilepicture}}">
        <div>
            <button type="submit" class="btn btn-primary">{{ 'connect.registration.submit'|trans({}, 'HWIOAuthBundle') }}</button>
            <a href="{{ path('hwi_oauth_connect') }}" class="btn">{{ 'connect.registration.cancel' | trans({}, 'HWIOAuthBundle') }}</a>
        </div>
    </form>
    
    {# <pre>
        {{ dump(userInformation) }}
    </pre> #}    

{% endblock hwi_oauth_content %}
