{% extends 'StarterMainBundle::full.html.twig' %}

{% block body %}
    <nav class="navbar navbar-default" role="navigation">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse-1">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">Symfony Starter</a>
            </div>

            <div class="collapse navbar-collapse" id="navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li><a href="{{ path('main_homepage') }}">Home</a></li>
                </ul>
                {% if not app.user %}
                    <form class="navbar-form navbar-right">
                        <a href="{{ path('fos_user_registration_register') }}" class="btn btn-primary">Register</a>
                        <a href="{{ path('fos_user_security_login') }}" class="btn btn-default">Sign in</a>
                    </form>
                {% endif %}
                <ul class="nav navbar-nav navbar-right">
                    {% if app.user %}
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Settings <span class="caret"></span></a>
                            <ul class="dropdown-menu" role="menu">
                                <li><a href="{{ path('sonata_admin_dashboard') }}">Admin Dashboard</a></li>
                                <li><a href="{{ path('fos_user_security_logout') }}">Sign out</a></li>
                            </ul>
                        </li>
                    {% endif %}
                </ul>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>

    <div id="content">{% block content %}{% endblock %}</div>
{% endblock %}
