{% extends "FOSUserBundle::layout.html.twig" %}
{% trans_default_domain 'FOSUserBundle' %}
{% set title = 'Sign in' %}

{% block fos_user_content %}

<a class="btn btn-default btn-login" href="{{ url('hwi_oauth_service_redirect', {service:'google'}) }}"><img src="{{asset('img/login-google.png')}}"> Google</a>
<a class="btn btn-default btn-login" href="{{ url('hwi_oauth_service_redirect', {service:'facebook'}) }}"><img src="{{asset('img/login-facebook.png')}}"> Facebook</a>
<hr>

{% if error %}
    <div class="alert alert-danger">{{ error|trans }}</div>
{% endif %}

<form action="{{ path("fos_user_security_check") }}" method="post">
    <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />

    <div class="form-group">
        <label for="username">{{ 'form.email'|trans }}</label>
        <input class="form-control" type="text" id="username" name="_username" value="{{ last_username }}" required="required" />
    </div>

    <div class="form-group">
        <label for="password">{{ 'security.login.password'|trans }}</label>
        <input class="form-control" type="password" id="password" name="_password" required="required" />
    </div>

    <div class="checkbox">
        <label>
            <input type="checkbox" id="remember_me" name="_remember_me" value="on" /> {{ 'security.login.remember_me'|trans }}
        </label>
    </div>
    
    <p><a href="{{path('fos_user_resetting_request')}}">Forgot your password? Click here to reset.</a></p>

    <input class="btn btn-primary" type="submit" id="_submit" name="_submit" value="{{ 'security.login.submit'|trans }}" />
</form>

{% endblock fos_user_content %}
