{% extends('StarterMainBundle::layout.html.twig') %}
{% block content %}
    <div class="row">
        <div class="col-sm-6 col-sm-offset-3">
            <div class="panel panel-default">
                {% if title is defined %}
                <div class="panel-heading">
                    <h3 class="panel-title">{{ title }}</h3>
                </div>
                {% endif %}
                <div class="panel-body">
                    {% block fos_user_content %}{% endblock fos_user_content %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}