{% extends "FOSUserBundle::layout.html.twig" %}
{% trans_default_domain 'FOSUserBundle' %}
{% set title = 'Register' %}

{% block fos_user_content %}
    <a class="btn btn-default btn-login" href="{{ url('hwi_oauth_service_redirect', {service:'google'}) }}"><img src="{{asset('img/login-google.png')}}"> Google</a>
    <a class="btn btn-default btn-login" href="{{ url('hwi_oauth_service_redirect', {service:'facebook'}) }}"><img src="{{asset('img/login-facebook.png')}}"> Facebook</a>
    <hr>
    <form action="{{ path('fos_user_registration_register') }}" {{ form_enctype(form) }} method="POST" class="fos_user_registration_register">
        {{ form_widget(form) }}
        <div>
            <input type="submit" class="btn btn-primary" value="{{ 'registration.submit'|trans }}" />
        </div>
    </form>
{% endblock fos_user_content %}
